* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

:root{

        /* Brand */
    --brand-light: #F67841;
    --brand-mid: #F3541C;
    --brand-dark: #E43A12;

    /* Text */
    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;

    /* Surface */
    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --surface-disabled: #E7E5E4;

    /* Stroke */
    --stroke-default: #D6D3D1;
    --stroke-highlight: #F3541C;

    /* Semantic */
    --semantic-error: #DC2626;

    /* Supporting */
    --orange: #F9A474;
    --yellow: #FEDF6F;
    --green: #C7D78D;
    --blue: #B8CEDC;
    --violet: #C3B2E7;
    --pink: #F682A5;

  /* Font */

    --font-family:"Poppins", sans-serif;

    --h1:800 32px/120% var(--font-family);
    --h2:600 16px/125% var(--font-family);
    --h3:800 20px/120% var(--font-family);
    --h4:400 16px/150% var(--font-family); 
    --h5:400 14px/140% var(--font-family); 




}

.inputpd:focus,
select:focus,
textarea:focus, .xl-text:focus {
    border-color: var(--stroke-highlight);
    outline: none;
}


select {
  appearance: none;
  background-image: url("./img/icons/arrow-down-01.png");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 20px;
}